{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Available Services</h2>

<div class="row">
    {% for service in services %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ service.name }}</h5>
                <p class="card-text">{{ service.description[:100] }}...</p>
                <p><strong>Price:</strong> ₹{{ service.price }}</p>
                <p class="text-muted">Location: {{ service.location }}</p>
               <p>
                Rating:
                {% if service.avg_rating > 0 %}
                    {% for i in range(service.avg_rating|round|int) %}
                        ⭐
                    {% endfor %}
                    ({{ service.avg_rating }}/5)
                {% else %}
                    No ratings yet
                {% endif %}
                </p>

{% if current_user.is_authenticated and current_user.role == 'customer' %}
    <a href="{{ url_for('hire', service_id=service.id) }}" class="btn btn-primary">Hire</a>
{% endif %}

                <!-- <a href="{{ url_for('hire', service_id=service.id) }}" class="btn btn-primary">Hire</a> -->
            </div>
        </div>
    </div>
    {% else %}
    <p>No services available right now.</p>
    {% endfor %}
</div>
{% endblock %}
